@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background: #6E07B2;
    height: 35px;
    display: flex;
    align-items: flex-end;
    padding-left: 38px;
    a{
        color: #fff;
        padding: 5px 20px;
        text-decoration: none;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        font-size: 18px;
        font-weight: bold;

        &.router-link-active{
            color: #6E07B2;
            background: #fff;
        }
    }
}